<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-mail de Verificação</title>
  </head>
  <body
    style="
      background-color: #000;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
      margin: 0;
      padding: 0 0 0 10px;
      box-sizing: border-box;
    "
  >
    <main
      style="
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin: auto;
      "
    >
      <img
        src="https://gkptan.github.io/titanium-fitness/src/image/logo.png"
        alt="logo da academia"
        style="max-width: 300px"
      />
      <p style="width: 95%; font-size: 16px; margin: 0; text-align: left">
        olá {{name}}.
      </p>
      <p style="width: 95%; font-size: 16px">
        agradecemos por se cadastrar na nossa academia. Para ter acesso a sua
        conta, você precisa verificar seu e-mail com esse código de verificação
        que enviamos para você. Digite esse código na página de verificação:
      </p>
      <code
        style="
          font-size: 1.5rem;
          font-weight: bold;
          background-color: #333;
          padding: 10px 15px;
          border-radius: 5px;
          display: inline-block;
        "
        ><strong>{{codeConfirm}}</strong></code
      >
      <p style="width: 95%; font-size: 14px; color: #ccc; text-align: left; margin: 5px 0px;">
        - Não compartilhe este código!
      </p>
      <p style="width: 95%; font-size: 14px; color: #ccc; text-align: left; margin: 5px 0px;">
        - Nós nunca entraremos em contato com você para solicitar códigos de
        verificação.
      </p>
      <p style="width: 95%; font-size: 14px; color: #ccc; text-align: left; margin: 5px 0px;">
        - Caso alguém peça este código, não forneça.
      </p>
      <p style="width: 95%; font-size: 14px; color: #ccc; text-align: left; margin: 5px 0px;">
        - Se você não solicitou este código, pode ignorar este e-mail com
        segurança, nenhuma ação adicional é necessária.
      </p>
      <p style="width: 95%; font-size: 14px; color: #ccc; text-align: left; margin: 5px 0px;">
        - Caso receba vários códigos que não solicitou, recomendamos que você
        altere sua senha e considere vincular um e-mail diferente à sua conta
        para maior segurança.
      </p>
      <p style="width: 95%; font-size: 14px; color: #ccc; margin: 5px 0px;">
        Localização do registro: <strong>{{city}}, {{region}}</strong>
      </p>
      <p style="width: 95%; font-size: 14px; color: #ccc; padding-bottom: 20px;">
        Atenciosamente, Equipe Titanium Fitness.
      </p>
    </main>
  </body>
</html>
